In [1]:
# Creating a list
my_list = [1, 2, 3, 4, 5]
print("Original List:", my_list)

Original List: [1, 2, 3, 4, 5]

In [2]:
# Adding an element to the list
my_list.append(6)
print("List after adding an element:", my_list)

List after adding an element: [1, 2, 3, 4, 5, 6]

In [3]:
# Removing an element from the list
my_list.remove(2)
print("List after removing an element:", my_list)

List after removing an element: [1, 3, 4, 5, 6]

In [4]:
# Modifying an element in the list
my_list[2] = 10
print("List after modifying an element:", my_list)

List after modifying an element: [1, 3, 10, 5, 6]

In [5]:
# Creating a dictionary
my_dict = {'a': 1, 'b': 2, 'c': 3}
print("\nOriginal Dictionary:", my_dict)

Original Dictionary: {'a': 1, 'b': 2, 'c': 3}

In [6]:
# Adding a key-value pair to the dictionary
my_dict['d'] = 4
print("Dictionary after adding a key-value pair:", my_dict)

Dictionary after adding a key-value pair: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [7]:
# Removing a key-value pair from the dictionary
del my_dict['b']
print("Dictionary after removing a key-value pair:", my_dict)

Dictionary after removing a key-value pair: {'a': 1, 'c': 3, 'd': 4}

In [8]:
# Modifying a value in the dictionary
my_dict['c'] = 30
print("Dictionary after modifying a value:", my_dict)

Dictionary after modifying a value: {'a': 1, 'c': 30, 'd': 4}

In [9]:
# Creating a set
my_set = {1, 2, 3, 4, 5}
print("\nOriginal Set:", my_set)

Original Set: {1, 2, 3, 4, 5}

In [10]:
# Adding an element to the set
my_set.add(6)
print("Set after adding an element:", my_set)

Set after adding an element: {1, 2, 3, 4, 5, 6}

In [11]:
# Removing an element from the set
my_set.remove(2)
print("Set after removing an element:", my_set)

Set after removing an element: {1, 3, 4, 5, 6}

In [12]:
# remove and add a modified value
my_set.remove(3)
my_set.add(30)
print("Set after modifying an element (by removing and adding):", my_set)

Set after modifying an element (by removing and adding): {1, 4, 5, 6, 30}